@model CheaplayMVC.Models.Auth.LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center">
    <h2>Sign in</h2>

    <form asp-action="Login" asp-controller="User" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        
            <div class="form-group">
                <input type="text" asp-for="Login" placeholder="Login"/>
                <span asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <input asp-for="Password" placeholder="Password"/>
                <span asp-validation-for="Password" />
            </div>

            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-outline-dark" />
            </div>
            <div class="form-group">
                <a class="text-primary" asp-action="Register" asp-controller="User">Sign up</a>
            </div>
</form>
</div>
